#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  border-collapse: separate; /* needed for gap */
  border-spacing: 4px;  
  background-color: #333333; 
  border-radius: 4px;   /* 👈 4px gap between cells */
}

th, td {
  border: 1px solid rgba(255,255,255,0.2); /* cell borders */
  padding: 8px 12px;
  border-radius: 4px;
}

th {
  font-weight: 600;
  background-color: #3a0909;
}

tbody tr td {
  transition: 0.2s;
}

tbody tr:hover td {
  box-shadow: 0 0 6px rgba(255,255,255,0.15); /* glow on hover */
}

button {
  margin: 0 8px;
  background-color: #121212;
}
h1{
  color: #536745;
}
.head{
  position: sticky;
  top: 50px;
  padding: 0px;
  background-color: #121212;
  
}
.head2{
  padding: 10px;
  position: static;
  
  
 
}